contoso-logicapp/workflow.json
{
  "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
          "Condition": {
              "type": "If",
              "expression": {
                  "and": [
                      {
                          "contains": [
                              "@triggerOutputs()['headers']",
                              "Token"
                          ]
                      }
                  ]
              },
              "actions": {
                  "Success Response": {
                      "type": "Response",
                      "kind": "http",
                      "inputs": {
                          "statusCode": 200,
                          "body": "Hello World"
                      },
                      "runAfter": {}
                  }
              },
              "runAfter": {},
              "else": {
                  "actions": {
                      "Failure Response": {
                          "type": "Response",
                          "kind": "http",
                          "inputs": {
                              "statusCode": 401,
                              "body": "UnAuthorized"
                          },
                          "runAfter": {}
                      }
                  }
              }
          }
      },
      "triggers": {
          "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {},
              "correlation": {}
          }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {}
  },
  "kind": "Stateful"
}